:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: #212121;
  --main-light-color: #ffffff;
  --current-color: #2196f3;
  --secondary-color: #757575;
  --footer-color: #2f303a;
  --button-color: #f5f4fa;
  --footer-info-color: rgba(255, 255, 255, 0.6);
  --button-hero-bg-color: #188ce8;
  --hero-shadow-button-color: rgba(0, 0, 0, 0.15);
  --header-border: #ececec;
  --complementary-2-color: #000000;
  --border-box-gallery: #eeeeee;
  --hero-section: #c4c4c4;
  --icon-social-network: #afb1b8;
  --footer-social-list: rgba(255, 255, 255, 0.1);
  --footer-icon-social: rgba(255, 255, 255, 1);
  --background-image-hero-04: rgba(47, 48, 58, 0.4);
  --box-shadow-item-12: rgba(0, 0, 0, 0.12);
  --box-shadow-item-14: rgba(0, 0, 0, 0.14);
  --box-shadow-item-02: rgba(0, 0, 0, 0.2);
  --shadow-cards-gallery-12: rgba(0, 0, 0, 0.12);
  --shadow-cards-gallery-06: rgba(0, 0, 0, 0.06);
  --shadow-cards-gallery-16: rgba(0, 0, 0, 0.16);
  --contact-form-input-border: rgba(33, 33, 33, 0.2);
  --gallery-overlay-text: rgba(33, 150, 243, 0.9);
  --form-massage-placeholder: rgba(117, 117, 117, 0.5);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.clients__list, .social-list, .team__list, .projects__list, .features__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.social-list__link {
  text-decoration: none;
  color: currentColor;
}

.clients__list, .team__list, .projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

body {
  font-family: var(--main-font-family);
  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: var(--main-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.total {
  padding-top: 0%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/mobiles/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/mobiles/bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/tablet/bg.tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/tablet/bg.tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/desktop/bg.pc.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/desktop/bg.pc@2x.jpg);
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--current-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
  color: var(--secondary-color);
}

.features__wrapper--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.projects {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .projects {
    display: block;
  }
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects__thumb {
  position: relative;
}

.projects__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color-text);
}

.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--main-color);
  margin-bottom: 50px;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--main-color);
  margin-bottom: 50px;
  text-align: center;
}

.team__list {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__list {
    flex-direction: column;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__wrapper {
  padding: 30px 0;
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    padding: 30px 32px;
  }
}

.team__name {
  font-size: 16px;
  line-height: 1.18;
}

.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}

.social-list {
  display: flex;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  fill: var(--white-color-text);
  background-color: var(--accent-color);
}

.link-social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--main-light-color);
  color: var(--icon-social-network);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.link-social-network:hover, .link-social-network:focus {
  background-color: var(--current-color);
  color: var(--main-light-color);
}

.cards-social-network {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.footer-social-network {
  display: flex;
  column-gap: 10px;
}

.footer-address-box {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--footer-social-list);
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-list:hover, .footer-social-list:focus {
  background-color: var(--current-color);
}

.footer-icon-social {
  height: 20px;
  width: 20px;
  fill: var(--footer-icon-social);
}

/* Hover footer address  */
/* =============Footer Form============= */
.box-footer-submit {
  margin-left: auto;
}

.icon-social-network {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.form-checkbox-policy {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-color);
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-field-comment {
  display: block;
  margin-bottom: 20px;
}

.clients__list {
  justify-content: center;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--main-light-color);
}
.button:hover, .button:focus {
  background-color: var(--current-color);
  color: var(--main-light-color);
  box-shadow: 0px 1px 1px var(--shadow-cards-gallery-12), 0px 4px 4px var(--shadow-cards-gallery-06), 1px 4px 6px var(--shadow-cards-gallery-16);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: var(--main-light-color);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 700px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--current-color);
}

.modal-form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: var(--transition-dur-and-func);
}
.contact-form-input:hover + .modal-form-input-icon, .contact-form-input:focus + .modal-form-input-icon {
  fill: var(--current-color);
}

.form-checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--complementary-2-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
}
.contact-form-check:checked + .form-checkbox-icon {
  background-color: var(--current-color);
  border: var(--current-color);
}
.contact-form-check:focus + .form-checkbox-icon {
  box-shadow: 0 0 0 2px var(--current-color);
}

.form-checkbox-won-icon {
  display: none;
  fill: var(--main-light-color);
}
.contact-form-check:checked + .form-checkbox-icon .form-checkbox-won-icon {
  display: block;
}

.form-checkbox-link {
  color: var(--current-color);
  text-decoration-line: underline;
}

.contact-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-input {
  display: block;
  /* margin-bottom: 10px; */
  width: 100%;
  height: 40px;
  border: 1px solid var(--contact-form-input-border);
  border-radius: 4px;
  padding-left: 42px;
  transition: var(--transition-dur-and-func);
}
.contact-form-input:hover, .contact-form-input:focus {
  outline: none;
  border-color: var(--current-color);
}

.contact-form-massage {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--contact-form-input-border);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
}
.contact-form-massage::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--form-massage-placeholder);
}
.contact-form-massage:focus, .contact-form-massage:hover {
  outline: none;
  border-color: var(--current-color);
}

.contact-form-btn {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--current-color);
  color: var(--main-light-color);
  border-radius: 4px;
  padding: 10px 52px;
  transition: var(--transition-dur-and-func);
}
.contact-form-btn:hover, .contact-form-btn:focus {
  background-color: var(--button-hero-bg-color);
  box-shadow: 0px 4px 4px var(--hero-shadow-button-color);
  border-radius: 4px;
}

.box-contact-form {
  position: relative;
  display: block;
}

.title-contact-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}/*# sourceMappingURL=main.css.map */