:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: #212121;
  --main-light-color: #ffffff;
  --current-color: #2196f3;
  --secondary-color: #757575;
  --footer-color: #2f303a;
  --button-color: #f5f4fa;
  --footer-info-color: rgba(255, 255, 255, 0.6);
  --button-hero-bg-color: #188ce8;
  --hero-shadow-button-color: rgba(0, 0, 0, 0.15);
  --header-border: #ececec;
  --complementary-2-color: #000000;
  --border-box-gallery: #eeeeee;
  --hero-section: #c4c4c4;
  --icon-social-network: #afb1b8;
  --footer-social-list: rgba(255, 255, 255, 0.1);
  --footer-icon-social: rgba(255, 255, 255, 1);
  --background-image-hero-04: rgba(47, 48, 58, 0.4);
  --box-shadow-item-12: rgba(0, 0, 0, 0.12);
  --box-shadow-item-14: rgba(0, 0, 0, 0.14);
  --box-shadow-item-02: rgba(0, 0, 0, 0.2);
  --shadow-cards-gallery-12: rgba(0, 0, 0, 0.12);
  --shadow-cards-gallery-06: rgba(0, 0, 0, 0.06);
  --shadow-cards-gallery-16: rgba(0, 0, 0, 0.16);
  --contact-form-input-border: rgba(33, 33, 33, 0.2);
  --gallery-overley-text: rgba(33, 150, 243, 0.9);
  --form-massage-placeholder: rgba(117, 117, 117, 0.5);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.projects__list, .features__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

body {
  font-family: var(--main-font-family);
  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: var(--main-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.total {
  padding-top: 0%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/mobiles/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/mobiles/bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/tablet/bg.tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/tablet/bg.tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/desktop/bg.pc.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(55, 47, 58, 0.4) 0%, rgba(55, 47, 58, 0)), url(../images/desktop/bg.pc@2x.jpg);
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background-color: var(--current-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
  color: var(--secondary-color);
}

.features__wrapper--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.projects {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .projects {
    display: block;
  }
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects__thumb {
  position: relative;
}

.projects__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color-text);
}/*# sourceMappingURL=main.css.map */