// .link-icom-company {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   column-gap: 30px;
//   transition: color var(--transition-dur-and-func);
// }

// .box-section-company {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid var(--icon-social-network);
//   border-radius: 4px;
//   color: var(--icon-social-network);
//   transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     color: var(--current-color);
//     border-color: var(--current-color);
//   }
// }

// .icom-company {
//   width: 106px;
//   height: 60px;
//   /* color: var(--icon-social-network); */
//   fill: currentColor;
// }

.clients__list {
  @extend %list;
  @extend %flexgap;
  justify-content: center;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
  @include center-flex();
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
