// .section-team {
//   background-color: var(--button-color);
// }

// .cards-team-box {
//   padding: 30px 0;
//   text-align: center;
// }

// .cards-team {
//   display: flex;
//   gap: 30px;
//   flex-wrap: wrap;
//   flex-basis: calc((100% - 90px) / 4);
// }

// .tim-item {
//   background: var(--main-light-color);

//   box-shadow: 0px 1px 3px var(--box-shadow-item-12), 0px 1px 1px var(--box-shadow-item-14),
//     0px 2px 1px var(--box-shadow-item-02);
//   border-radius: 0px 0px 4px 4px;
// }

// .img-tile {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.1;
//   color: var(--main-color);
//   margin-bottom: 10px;
// }

// .foto-paragraph {
//   font-size: 16px;
//   line-height: 1.1;
//   color: var(--secondary-color);
//   margin-bottom: 16px;
// }

.team {
    background-color: #f5f4fa;
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--main-color);
    margin-bottom: 50px;
    text-align: center;
  }
  
  .team__list {
    @extend %list;
    @extend %flexgap;
    text-align: center;
  
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  
  .team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  
    background-color: var(--main-bg-color);
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
  
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
  
  .team__wrapper {
    padding: 30px 0;
  
    @media screen and (min-width: 1200px) {
      padding: 30px 32px;
    }
  }
  
  .team__name {
    font-size: 16px;
    line-height: 1.18;
  }
  
  .team__position {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-color);
  }
  
  .social-list {
    @extend %list;
    display: flex;
    column-gap: 10px;
  }
  
  .social-list__link {
    @extend %link;
    @include center-flex();
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      fill: var(--white-color-text);
      background-color: var(--accent-color);
    }
  } 